.contact-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .contact-content{
    background: rgba(230, 226, 219, 0.301);
    border: rgba(128, 128, 128, 0.349) 1px solid;
    font-weight: 600;
    padding: 20px 15px 40px;

    .description {
      margin: 16px 0;
    }
  
    .contact-items {
      border: rgba(128, 128, 128, 0.26) 1px solid;
      padding: 8px;
    }
  }

  .contact-triangles,
  .contact-subtitle{
    vertical-align: middle;
    display: inline-block;
  }

}


// svg triangles css animations
:root{
  --dark-color: #635BFF;
  --light-color: #43C4ED;
}

svg {
  cursor: pointer;
}

#darkGroup {
  fill: var(--dark-color);
}

#lightGroup {
  fill: var(--light-color);
}

#dark1,
#light1,
#dark2 {
  transition: all 1s ease;
}

#dark2 {
  transform: translateX(-100%);
}

svg:hover #light1{
  transform: translateX(20%);
}

svg:hover #dark1{
  transform: translateX(40%);
  opacity: 0;
}

svg:hover #dark2{
  transform: translateX(0%);
}